.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-blue);
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    flex-direction: column;
    width: 380px;
    padding: 32px;
    border-radius: 8px;
}

.content h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.content p {
    text-align: center;
    color: var(--white);
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px;
    width: 212px;
}

