.app {
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
}

.content {
    width: 60%;
    padding: 20px;
    border-right: 1px solid var(--light);
    height: 100vh;
}

.content header h1{
    font-weight: 600;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 14px;
}

.content header span {
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}

.content .input {
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 4px;
    height: 36px;
    padding: 0 10px;
    margin-top: 40px;
}

.content .input input {
    height: 36px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: var(--white);
    border: 0;
}

.content .input input::placeholder {
    color: var(--light);
}

.content .input svg {
    fill: var(--white);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.1s;
}

.content .input svg:hover {
    fill: var(--info);
}

.content .habits {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.content .habits .habit {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light);
}

.content .habits .habit p {
    color: var(--white);
    font-size: 16px;
}

.content .habits .habit div {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .habits .habit div input {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.content .habits .habit div svg {
    fill: var(--white);
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: fill 0.1s;
}

.content .habits .habit div svg:hover {
    fill: var(--error);
}