.container {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

.container strong {
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    color: var(--white);
}

.container span{
    font-size: 20px;
    line-height: 100%;
    font-weight: bold;
    color: var(--light);
}