:root {
    --black-blue: #04141c;
    --dark-blue: #001e2b;
    --white: #fff;
    --info: #016bf8;
    --info-hover: #00357b;
    --light: #828282;
    --error: #db3030;
    --error-hover: #9d1919;
    --neutral: #575757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Lexend', sans-serif;
}

button {
    cursor: pointer;
}