.container {
    display: grid;
    grid-template-columns: 60% 1fr;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
}

.content {
    padding: 20px;
    border-right: 1px solid var(--light);
    height: 100vh;
}

.content .inputGroup {
    display: flex;
    align-items: center;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.content .input {
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 4px;
    height: 36px;
    padding: 0 10px;
    margin-top: 40px;
}

.content .input input {
    height: 36px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: var(--white);
    border: 0;
}

.content .input input::placeholder {
    color: var(--light);
}

.content .input svg {
    fill: var(--white);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 8px;
}

.content .input svg:hover {
    fill: var(--info);
}

.content .timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 364px;
    max-height: 364px;
    height: 100%;
    width: 100%;

    border: 3px solid var(--white);
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 50%;
}

.content .timer strong{
    color: var(--white);
    
}

.content .timer span {
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
}

.content .buttonGroup {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container .metrics {
    padding: 20px;
}

.container .metrics h2{
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
}

.container .metrics .infoContainer {
    display: flex;   
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 80px;
    border-bottom: 1px solid var(--light);
}

.container .calendarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.container .infoMetrics {
    padding: 20px;
    height: 150px;
}

.container .infoMetrics h3 {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 12px;
}

.container .infoMetrics .infoMetricsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 90px;
    height: 100%;
    overflow-y: scroll;
}

.container .infoMetrics .infoMetricsContainer .info  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 120px;
    width: 100%;
}

.container .infoMetrics .infoMetricsContainer .info div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container .infoMetrics .infoMetricsContainer .info div svg {
    fill: var(--info);
    width: 20px;
    height: 20px;
}

